DB_URI= Database connection string. Example: "postgresql://<my_username>:<my_password>@<url>/<Database_Name>"
DB_USER= Database username, preferably admin. example: "postgres"
DB_PASSSWORD= Database password for the username defined above.
FRONTEND_URL= URL of the frontend application, for CORS purposes. example:"http://localhost:3000"
TOKEN_SECRET= Random string used to encrypt JWT. example:3e1cac49189e4e83f4975c2446130ba81b50e1eb7f81ee9b696b89832fcf866f
REDIS_CLIENT= URL of the Redis client to be used for blackmailing JWT. Example: redis-17247.c300.eu-central-1-1.ec2.redns.redis-cloud.com
RESID_PASS= Password of the Redis client used above.
HOST= Host of the rest api. Example: "localhost"
PORT= Port where the rest api with be working on. Example: 5005